*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  position: relative;
  margin: 20px 15px;
  display: flex;
  align-items: center;
}

.container button {
  width: auto;
  height: 32px;
  margin-left: -1px;
  padding: 6px 10px;
  color: #676a6c;
  border-radius: 2px;
  border: 1px solid gainsboro;
  font-size: 14px;
  background-color: #fff;
}

.container button:hover {
  border: 1px solid #676a6c;
}

.container button:first-child {
  background-color: #1AB394;
  color: #fff; 
}

.container button:first-child:hover {
  background-color: #18A689;
}

.nav_collect1 button:nth-child(2) {
  margin-right: 12px;
}


.nav_collect2 button:nth-child(4) {
  margin-right: 12px;
}


.nav_collect3 button:nth-child(3) {
  margin-right: 12px;
}

.input {
  height: 32px;
}
.input input {
  position: absolute;
  width: 665.5px;
  height: 32px;
  padding-left: 5px;
  border: 1px solid gainsboro;
  border-radius: 2.5px;
  background-color: #fff;
}

.input button {
  position: absolute;
  left: 76%;
  background-color: #1AB394;
  color: #fff;
}