* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.li_body {
  width: 245px;
  margin: 15px 15px 15px 15px;
  list-style: none;
}

.container {
  width: 242px;
  height: 320px;
  margin: 0 3.5px 3.5px 3.5px;
  transition: 0.3s;
  background-color: #ffffff;
}

.container:hover {
  box-shadow: 0px 20px 3px 3px gainsboro;
}
.container img {
  width: 220px;
  margin: 10px 0 0 10px;
}

.li_content {
  padding: 5px 5px 5px 5px;
  background-color: #ffffff;
}

.li_content:hover {

}

.li_content p{
  background-color: #ffffff;
}

.li_content p:first-child {
  margin: 2px 0 5px 0;
  color: #676a6c;
  font-size: 16px;
  font-weight: 600;
}

.li_content p:nth-child(2) {
  margin-top: 5px;
  font-size: 11px;
  color: #676a6c;
}

.li_button_vowel {
  margin: 20px 0 0 0;
  background-color: #ffffff;
}

.li_button_vowel button:first-child {
  width: 80px;
  height: 28px;
  margin-right: 3.5px;
  border-radius: 3px;
  border-color: red;
  color: red;
  background-color: #ffffff;
  transition: 0.5s;
}

.li_button_vowel button:first-child:hover {
  background-color: red;
  color: #ffffff;
}

.FaPlay {
  background-color: #ffffff;
}

.li_button_vowel button:nth-child(2) {
  width: 80px;
  height: 28px;
  margin-right: 3.5px;
  border-radius: 3px;
  border-color: #f0ad4e;
  color: #f0ad4e;
  background-color: #ffffff;
  transition: 0.5s;
}

.li_button_vowel button:nth-child(2):hover {
  background-color: #f0ad4e;
  color: #ffffff;
}

.li_button_vowel button:nth-child(3) {
  width: 60px;
  height: 28px;
  margin-right: 3.5px;
  border-radius: 3px;
  border-color: #1A7BB9;
  color: #1A7BB9;
  background-color: #ffffff;
  transition: 0.5s;
}

.li_button_vowel button:nth-child(3):hover {
  background-color: #1A7BB9;
  color: #ffffff;
}